APP_NAME=TravelWheel
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
ADMIN_EMAILS=awbajofaruq72@gmail.com
MAIL_TRAVELFLEX_PROVIDER=loans@travelwheel.com
MAIL_TRAVELWHEEL_ADDRESS=awbajofaruq72@gmail.com
MAIL_SUPPORT_ADDRESS=awbajofaruq72@gmail.com
TRAVELFLEX_INTEREST_RATE=0.04
TRAVELFLEX_MINIMUM_DOWN_PAYMENT_PERCENT=30
TRAVELFLEX_MAXIMUM_DOWN_PAYMENT_PERCENT=90
TRAVELFLEX_DOWN_PAYMENT_PERCENTAGE_STEP=10
TRAVELFLEX_REFUND_PROCESSING_FEE=0
TRAVELFLEX_REFUND_RISK_BUFFER_RATE=0.05
TRAVELFLEX_REFUND_RISK_BUFFER_FIXED=0
TRAVELFLEX_BANK_1_NAME=First city Monument Bank (FCMB)
TRAVELFLEX_BANK_1_NUMBER=4190519011
TRAVELFLEX_BANK_1_ACCOUNT_NAME=First Contact Travels Limited
TRAVELFLEX_BANK_2_NAME=Zenith Bank 
TRAVELFLEX_BANK_2_NUMBER=1014678690
TRAVELFLEX_BANK_2_ACCOUNT_NAME=First Contact Travels Limited
TRAVELFLEX_BANK_3_NAME=First city Monument Bank (FCMB)
TRAVELFLEX_BANK_3_NUMBER=8900842510
TRAVELFLEX_BANK_3_ACCOUNT_NAME=First Contact Travels Limited

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning
LOG_DAILY_DAYS=14

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=240

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_TIMEOUT=10
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

SEERBIT_BASE_URL=https://seerbitapi.com
SEERBIT_PUBLIC_KEY=
SEERBIT_SECRET_KEY=
SEERBIT_COUNTRY=NG
BUDPAY_PUBLIC_KEY=
BUDPAY_SECRET_KEY=
TRAVELNEXT_BASE_URL=https://travelnext.works/api/aeroVE5/
TRAVELNEXT_USER_ID=
TRAVELNEXT_PASSWORD=
TRAVELNEXT_ACCESS=
TRAVELNEXT_IP=
VISA_PRODUCT_ENABLED=true
VISA_MONITORING_WINDOW_DAYS=30

VITE_APP_NAME="${APP_NAME}"
